<div
  class="navbar navbar-inverse"
  style="
    position: sticky;
    height: 100px;
    margin-bottom: 0;
    width: 100%;
    background-color: #cbd5f0;
  "
>
        
  <div class="-flex justify-content-center align-items-center">
    <div class="row" style="color: #194f92">
      <p class="navbar-text" style="text-align: center; align-items: center">
        This page was last modified on {{ text }}
        <br />
        © 2022 Copyright: Fatemeh Zahedi
      </p>
    </div>
  </div>
      
</div>
