<!-- container -->
<div class="container">
  <!-- row: page description -->
  <div class="row">
    <div id="title" class="col-sm-12">
      <h3><strong>Lab 2 - Images in Multimedia</strong></h3>
      The importance of images in multimedia with the consideration of usability
      of web design is demonstrated on this page.
    </div>
  </div>
  <hr />
  <!-- row: images -->
  <div id="imageRow" class="row align-items-center justify-content-center">
    <!-- col-12: title -->
    <div class="col-12">
      <h4>
        <strong><span>Images:</span></strong>
      </h4>
    </div>
    <!-- col: original image -->
    <div class="col-sm-4 border justify-content-center">
      <h5 class="text-center" alt="original image">
        <strong><span>Original</span></strong>
      </h5>
      <hr />
      <div id="image">
        <img src="../../assets/lab2-original.png" width="300" heigh="300" />
      </div>
    </div>
    <!-- col: modified image -->
    <div class="col-sm-4 border">
      <h5 class="text-center" alt="modified image">
        <strong><span>Modified</span></strong>
      </h5>
      <hr />
      <div id="image">
        <img src="../../assets/lab2-modified.png" width="300" heigh="300" />
      </div>
    </div>
    <!-- col - created image -->
    <div class="col-sm-4 border" alt="created image">
      <h5 class="text-center">
        <strong><span>Created</span></strong>
      </h5>
      <hr />
      <div id="image">
        <img src="../../assets/lab2-created.svg" width="300" heigh="300" />
      </div>
    </div>
  </div>
  <!-- row - Questions -->
  <div id="questions" class="row">
    <h4 class="text-justify">
      <strong><span>Questions:</span></strong>
    </h4>
    <p class="text-justify">
      <strong
        >1) What’s your image modification? Any thoughts (why)? Steps?</strong
      >

      <br />
      The original image I chose is one of the pictures I captured from ducks,
      and the format of the image is png. I decided to modify my original image
      with the Canva, one of my favourite image editing tools on the market. I
      tried to work with pixels and the size of the file. The original image has
      a good resolution of 1200 × 1200 px and a size of 2.7 MB. But the modified
      Image has less size and resolution.
      <br />
      <br />

      <strong
        >2) What are the differences you notice from the modification (e.g.,
        file size change? Quality change? etc.)</strong
      >
      <br />
      As you can see, the modified image is more pixelated than the original
      one. The original image has a resolution of 1200 × 1200 px and a size of
      2.7 MB. After the modifications I made to the original image, the result
      is the resolution of 400 × 400px and size of 116 KB.
      <br />
      <br />
      <strong
        >3) Is there any special consideration when you created/ drew the new
        image(s)? What were the steps?</strong
      >
      <br />
      Actually, I wasn't too sure about this part. I decided to choose one
      object in my original image and draw it with painting software. It is just
      a white and black duck. The only consideration is the format of the
      created image, which is SVG. The good thing about SVG is that Image is
      stretched and compressed without losing the image quality and it doesn't
      look blurred on devices with high pixel density.
    </p>
  </div>
  <!-- row - reflection -->
  <div id="reflection" class="row">
    <h4 class="text-justify">
      <strong><span>Reflection:</span></strong>
    </h4>
    <p class="text-justify">
      <strong
        >How hard do you rate this lab in a range 1-10, where 1 is easiest, 10
        is the hardest? What’s the difficulty? How did you solve it? Is it Fun?
        Anything that you want me to know.</strong
      >
      <br />
      On a scale of 1 to 10, this lab was a 5. The only difficulty was finding
      good software that is also easy to use. Photoshop is complicated for me to
      work with; I chose the Canva website, which has a good UI & UX. I had
      little knowledge about image size, resolution, and differences between
      various formats. But in this lab, I learned a lot about it. It was fun in
      total.
    </p>
  </div>
</div>
