<!-- container -->
<div class="container">
  <!-- row: page description -->
  <div class="row" style="font-family: 'Quicksand', sans-serif">
    <div id="title" class="col-sm-12" style="margin-bottom: 30px">
      <h3><strong>Lab 2 - Images in Multimedia</strong></h3>
      The importance of images in multimedia with the consideration of usability
      of web design is demonstrated on this page.
    </div>
  </div>
  <hr />
  <!-- row: images -->
  <div
    class="row align-items-center justify-content-center"
    style="margin-top: 60px; margin-bottom: 60px"
  >
    <!-- col-12: title -->
    <div class="col-12">
      <h4 style="font-family: 'Quicksand', sans-serif; margin-bottom: 40px">
        <strong><span>Images:</span></strong>
      </h4>
    </div>
    <!-- col-4: original image -->
    <div
      class="col-sm-4 border justify-content-center"
      style="padding: 1%; margin: 1%; height: 400px; width: 350px"
    >
      <h5
        class="text-center"
        alt="original image"
        style="font-family: 'Quicksand', sans-serif"
      >
        <strong><span>Original</span></strong>
      </h5>
      <hr />
      <div style="justify-content: center; display: flex">
        <img src="../../assets/lab2-original.png" width="300" heigh="300" />
      </div>
    </div>
    <div
      class="col-sm-4 border"
      style="padding: 1%; margin: 1%; height: 400px; width: 350px"
    >
      <h5
        class="text-center"
        alt="modified image"
        style="font-family: 'Quicksand', sans-serif"
      >
        <strong><span>Modified</span></strong>
      </h5>
      <hr />
      <div style="justify-content: center; display: flex">
        <img src="../../assets/lab2-modified.png" width="300" heigh="300" />
      </div>
    </div>
    <div
      class="col-sm-4 border"
      alt="created image"
      style="padding: 1%; margin: 1%; height: 400px; width: 350px"
    >
      <h5 class="text-center" style="font-family: 'Quicksand', sans-serif">
        <strong><span>Created</span></strong>
      </h5>
      <hr />
      <div style="justify-content: center; display: flex">
        <img src="../../assets/lab2-created.svg" width="300" heigh="300" />
      </div>
    </div>
  </div>
  <!-- Questions -->
  <div class="row" style="margin-top: 60px; margin-bottom: 60px">
    <h4 class="text-justify" style="font-family: 'Quicksand', sans-serif">
      <strong><span>Questions:</span></strong>
    </h4>
    <p
      class="text-justify"
      style="font-family: 'Quicksand', sans-serif; font-weight: bold"
    >
      1) What’s your image modification? Any thoughts (why)? Steps?
      <br />
      2) What are the differences you notice from the modification (e.g., file
      size change? Quality change? etc.)
      <br />
      3) Is there any special consideration when you created/ drew the new
      image(s)? What were the steps?
    </p>
  </div>
  <div class="row" style="margin-top: 60px; margin-bottom: 60px">
    <h4 class="text-justify" style="font-family: 'Quicksand', sans-serif">
      <strong><span>Reflection:</span></strong>
    </h4>
    <p
      class="text-justify"
      style="font-family: 'Quicksand', sans-serif; font-weight: bold"
    >
      How hard do you rate this lab in a range 1-10, where 1 is easiest, 10 is
      the hardest? What’s the difficulty? How did you solve it? Is it Fun?
      Anything that you want me to know.
    </p>
  </div>
</div>
