<!-- container -->
<div class="container">
  <!-- row: page description -->
  <div class="row">
    <div id="title" class="col-sm-12">
      <h3><strong>Lab 4 - Video in Multimedia Presentations</strong></h3>
      The practice with video editing and conversion with different formats is
      demonstrated on this page.
    </div>
  </div>
  <hr />
  <!-- row: Video -->
  <div id="videoRow" class="row align-items-center justify-content-center">
    <!-- col-12: title -->
    <div class="col-12">
      <h4>
        <strong><span>Video: My Trip to Athens, Greece</span></strong>
      </h4>
      <h4>
        " Eleftheria i thanatos (Greek: Ελευθερία ή θάνατος, IPA: [elefθeˈri.a i
        ˈθanatos]; 'Freedom or Death') is the motto of Greece. "
      </h4>
    </div>
    <!-- col: original file -->
    <div class="embed-responsive embed-responsive-21by9">
      <iframe class="embed-responsive-item" src="assets/lab4.mp4"></iframe>
    </div>
    <!-- row - Questions -->
    <div id="questions" class="row">
      <h4 class="text-justify">
        <strong><span>Reflection:</span></strong>
      </h4>
      <p class="text-justify">
        <strong>
          Explain the work process, including editing on music and
          video.</strong
        >
        <br />
        1. I decided to use Canva Website as my editing tool since it has a good
        UI & UX and I was working with Canva for a long time.
        <br />
        2. To create a video I used short videos of my trip to Athens. I just
        put them together, changed the lenght of each video and removed the
        noise.
        <br />
        3. For each video I added a text to describe it. To make it more
        intersting I added a transition to the text.
        <br />
        4. I used a local greek music that is easy to hear and related to the
        video.
        <br />
        <br />

        <strong
          >Explain your thoughts on the video creation, such as file size and
          file format.</strong
        >
        <br />
        <strong>File Size:</strong> The reason for making the file size as small
        as possible is essential to make sure that it is readily available to
        users. Larger video files can create an extra load on the website and
        make things slower for users when trying to access the content.
        <br />
        <strong>File Format:</strong>The format I chose is MP4, so it is more
        compatible with a wide range of platforms and players. It is the default
        for web and social media because it produces smaller file sizes with
        outstanding quality.
      </p>
    </div>
  </div>
</div>
