<nav
  class="navbar d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  style="background-color: #cbd5f0"
>
  <div class="container">
    <h3
      class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none"
    >
      Portfolio Website
    </h3>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2">Home</a></li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Labs
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" href="lab1">Lab 1</a>
          </li>
          <li>
            <a class="dropdown-item" href="lab2">Lab 2</a>
          </li>
          <li><a class="dropdown-item" href="lab3">Lab 3</a></li>
          <li><a class="dropdown-item" href="#">Lab 4</a></li>
          <li><a class="dropdown-item" href="#">Lab 5</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Assignments
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Assignment 1</a></li>
          <li><a class="dropdown-item" href="#">Assignment 2</a></li>
          <li><a class="dropdown-item" href="#">Assignment 3</a></li>
        </ul>
      </li>
    </ul>

    <div class="col-md-3 text-end">
      <h6>Fatemeh Zahedi</h6>
    </div>
  </div>
</nav>
