<!-- container -->
<div class="container">
  <!-- row: page description -->
  <div class="row">
    <div id="title" class="col-sm-12">
      <h3><strong>Lab 5 - Practice with p5.js drawing</strong></h3>
    </div>
  </div>
  <hr />
  <!-- row: P5js -->
  <div id="videoRow" class="row align-items-center justify-content-center">
    <!-- col-12: title -->
    <div class="col-12">
      <h4>
        <strong><span>p5.js Canvas</span></strong>
      </h4>
    </div>
    <!-- col: canvas -->
    <div id="mainCanvas" class="col-12"></div>
    <!-- row - Questions -->
    <div id="questions" class="col-12">
      <h4 class="text-justify">
        <strong
          ><span>sketch .js (Angular file is lab5.component.ts)</span></strong
        >
      </h4>
      <pre><code>{{code}}</code></pre>
    </div>
    <div id="questions" class="col-12">
      <h4 class="text-justify">
        <strong><span>Reflection</span></strong>
      </h4>
      <p class="text-justify">
        <strong>
          Describe your design, your creativity (any thoughts), the steps, the
          resources/ references, for your drawing. Basically, show me it’s you
          did the job and you know your steps</strong
        >

        <br />
        1. I am using the Angular framework, so it was a little hard at first to
        figure out how I could use P5.js.
        <br />
        2. I installed the P5 by using command npm i p5
        <br />
        3. After importing the p5 in lab5.component.ts, I created the canvas
        with 1000 widths and 700 heights. Then I used background() to fill the
        background with white colour.
        <br />
        4. Then, I used draw() methods to draw the shapes.
        <br />
        5. to create a circle, I used ellipse(x, y, size), for rectangular, I
        used rect(), and for text, I used text().
        <br />
        6. Each color has r, g and b. I used the color(r,g,b) and created the
        color I wanted in my design.
        <br />
        <br />
      </p>
    </div>
  </div>
</div>
