<!-- container -->
<div class="container">
  <!-- row: page description -->
  <div class="row">
    <div id="title" class="col-sm-12">
      <h3>
        <strong
          >Assignment1 - Fundamental Multimedia Presentations Concepts</strong
        >
      </h3>
      The Practice of multimedia presentations using available authoring tools
      and Applying multimedia presentation online with consideration of
      usability of the Internet is demonstrated on this page.
    </div>
  </div>
  <hr />
  <!-- row: Video -->
  <div id="videoRow" class="row align-items-center justify-content-center">
    <!-- col-12: title -->
    <div id="audio" class="col-12">
      <h4>
        <strong><span>Audio</span></strong>
      </h4>
      <audio controls>
        <source src="../../assets/a1-audio.mp3" type="audio/mp3" />
        Your browser does not support the audio element.
      </audio>
      <h5 style="padding-top: 20px">
        Transcript: There are so many books and so little time to read them.
        There are somewhere around 1,000,000 books published every year in the
        US alone. I am a big lover of books; they have been part of my life,
        especially novels. It is well said that books can be your best and true
        companion. One of my friends asked me why Books are so heavy; for his
        question, I replied instantly, "Because the whole world is inside them."
        Television, the Internet, and TV Shows can look appealing, but nothing
        can replace a Good Book. Reading is a Dream that you hold in your hands;
        it gives you wisdom, solution, new perspective, imagination, improves
        your confidence, improves your mental health.
      </h5>
    </div>
    <!-- col: original file -->
    <div
      id="video"
      style="padding-top: 40px"
      class="col-12 embed-responsive embed-responsive-21by9"
    >
      <h4>
        <strong><span>Video</span></strong>
      </h4>
      <iframe class="embed-responsive-item" src="assets/a1-video.mp4"></iframe>
    </div>
    <!-- row - Questions -->
    <div id="questions" class="row">
      <h4 class="text-justify">
        <strong><span>Reflection:</span></strong>
      </h4>
      <p class="text-justify">
        <strong>The steps to create the video</strong>
        <br />
        1. I decided to use Canva Website as my editing tool since it has a good
        UI & UX and I was working with Canva for a long time.
        <br />
        2. To create a video I used Images, Animation, Text and background music
        of the available options on Canva website. Then I putted them together,
        changed the lenght of each video and removed the noise.
        <br />
        3. For some part of the video I added a text.
        <br />
        4. I used my recorded audio which is related to the video and added it
        as background audio over the music. The audio is easy to hear.
        <br />
        <br />

        <strong>
          The difficulties, thoughts, considerations, and other issues you’ve
          encountered</strong
        >
        <br />
        I enjoyed doing the assignment. I did'nt have any difficulties and it
        was fun in total!
        <br />
        <br />
        <strong>
          Rate the difficulty of this assignment from 1-10, where 1 is
          easiest.</strong
        >
        <br />
        1/10
      </p>
    </div>
  </div>
</div>
