<!-- container -->
<div class="container">
  <!-- row: page description -->
  <div class="row">
    <div id="title" class="col-sm-12">
      <h3><strong>Lab 3 - Sound in Multimedia Presentations</strong></h3>
      The practice with sound editing and conversion with different formats is
      demonstrated on this page.
    </div>
  </div>
  <hr />
  <!-- row: Audios -->
  <div id="soundRow" class="row align-items-center justify-content-center">
    <div class="col-12"></div>
    <!-- col-12: title -->
    <div class="col-12">
      <h4>
        <strong><span>Sound Files:</span></strong>
      </h4>
      <h4>
        "Firetruck!" yelled five-year-old Billy. His mom had told him his dad
        was a fireman. When he got older he set fires, hoping to meet Dad.
      </h4>
    </div>
    <!-- col: original file -->
    <div class="col-sm-4 border justify-content-center">
      <h5 class="text-center">
        <strong><span>Original</span></strong>
      </h5>
      <hr />
      <audio controls>
        <source src="../../assets/original.wav" type="audio/wav" />
        Your browser does not support the audio element.
      </audio>
    </div>
    <!-- col: Edited File -->
    <div class="col-sm-4 border">
      <h5 class="text-center">
        <strong><span>Edited</span></strong>
      </h5>
      <hr />
      <audio controls>
        <source src="../../assets/edited.mp3" type="audio/mp3" />
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <!-- row - Questions -->
  <div id="questions" class="row">
    <h4 class="text-justify">
      <strong><span>Questions:</span></strong>
    </h4>
    <p class="text-justify">
      <strong
        >1) The reason of choosing the file format when creating your
        audio.</strong
      >

      <br />
      For the original audio, I chose WAV file format. The reason is WAV files
      can be edited. Then I made changes to the original and saved it as MP3.
      The MP# is the compressed and final version to release the file.<br />
      <br />

      <strong>2) The use of audio on your website regarding usability.</strong>
      <br />
      The reason for putting the audio on the website is that there is a short
      story on the same page. I give the user this usability on the website to
      listen to the short story instead of reading it.
      <br />
      <br />
      <strong
        >3) Any thoughts on different audio file formats, e.g., cons, pros, when
        to use.</strong
      >
      <br />
      This lab was a good practice on flearning diffrences between diffrenet
      audio file format. I learned that:
      <br />
      - .wav: to store uncompressed, Lossless, CD-quality sound files. It’s a
      lossless file format, meaning that there is no data loss whatsoever.
      <br />
      - .mp3: files to save compressed Lossy sound files. Uncompressed audio
      formats like WAV provide excellent sound quality with large file size. But
      for file-sharing on the internet, uncompressed files like MP3s were born
      to have much less size.
      <br />
      <br />
      <strong
        >4) Description of your editing on the file, e.g., cutting, assembly,
        fadein, fadeout, etc.</strong
      >
      <br />
      I used Audacity software which does not have a good UI&UX for a person
      unfamiliar with recording software. I could only change the volume on some
      parts of the original audio and save it to .mp3 instead of .wav format as
      a final internet-friendly version. <br />
      <br />
    </p>
  </div>
</div>
