<div
  class="container d-flex align-items-center justify-content-center"
  style="width: 100vw; margin-top: 30px; margin-bottom: 30px"
>
  <div class="row g-5" style="font-family: 'Quicksand', sans-serif">
    <div id="title">
      <h3><strong>Lab 1 - Web usibility</strong></h3>
      On this page, the portfolio website's considered and implemented factors
      of web usability are detailed.
    </div>
    <div class="text-justify">
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong> 1. Navigation:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        The navbar items gives the access to users to easily navigate to the
        page they need.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>2. Color change:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        When user move the curse to the text, the color of button text chaning
        to show that it is button and it is clickable.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>3. Responsiveness:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        In my design I uses bootstrap5 to have a responsive design in all
        devices.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>4. Simplicity:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        The portfolio website has a minimal design for presenting 5 labs and 3
        assignmnets.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>5. Consistency:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        I tried to keep the design in each page consistet and related to each
        other.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>6. Guidance:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        Besides nav items, for example Labs in navbar, there is small but
        visible arrow to shoe that the Labs is dropdown and user can click to
        see more options.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>7. Space:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        I tried to include white spaces between paragraphs and around text
        blocks to make it eassier for users understand what they are reading on
        the site.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>8. Credibility:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        There is a Copyright section in footer and student oath in Home page to
        make user trust the content in website.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>9. Relevancy:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        The website is clear but also contents are also relevant and users know
        why they visit the site.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>10. Images:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        There is a nice balance between content and graphics on website. There'
        is a graphic design on home page to attract user's attention.
      </p>
    </div>
  </div>
</div>
