<!-- container -->
<div class="container">
  <!-- row: page description -->
  <div class="row">
    <div id="title" class="col-sm-12">
      <h3>
        <strong
          >Assignment2 - Fundamental Video Concepts and Filming Procedur</strong
        >
      </h3>
      The Practice of multimedia presentations using current available authoring
      tools, basic filming techniques and steps is demonstrated on this page.
    </div>
  </div>
  <hr />
  <!-- row: Video -->
  <div id="videoRow" class="row align-items-center justify-content-center">
    <!-- col: file -->
    <div id="video" style="padding-top: 40px" class="col-12">
      <h4>
        <strong><span>Video to Promote a New Product</span></strong>
      </h4>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="assets/a2-movie.mp4"
          width="480px"
          height="270px"
        ></iframe>
      </div>
    </div>
    <!-- row - Questions -->
    <div id="questions" class="row">
      <h4 class="text-justify">
        <strong><span>Script:</span></strong>
      </h4>
      <p>
        1. cover page with title, name, device and date
        <br />
        2. Full Shot: The battery pack is attached to iphone and standing near a
        pot, with candle, a wirless charger and a picture.
        <br />
        3. Fyll shot: The battery pack attached to iphone in my hand and moving
        slowly.
        <br />
        4. Full Shot: Moving the battery in my hand to show it is clean and the
        color is white matte. Also showing the back of the battery to show it is
        mega safe.
        <br />
        5. Full Shot: Attach the battery to iphone to display it is connected
        and charging the phone.
        <br />
        6. Medium Closeup: showing the battery widget on iphone to show the
        battery level of the ihpne in charge along with level of the battery
        pack.
        <br />
        7. Hold iphone with battery pack on my hand to show it is not attaching
        perfeclty and will fall of if we push button hard.
        <br />
        8. Medium Closeup: To show the battery pack is charging and the light is
        red. then attach it to the iphone to show that it can be wireless
        charger as well.
      </p>
      <h4 class="text-justify">
        <strong><span>Equipment:</span></strong>
      </h4>

      <p>
        1. iPhone 12
        <br />
        2. Decoration items
        <br />
        3. battery pack
        <br />
        4. iPhone 13
        <br />
      </p>
      <h4 class="text-justify">
        <strong><span>References:</span></strong>
      </h4>
      <p>
        Editing tools: I used iMovie application to attach the short videos
        together. Also I used Canva website to add loyalty free background
        music. For audio recording I used Audiocity.
      </p>
    </div>
  </div>
</div>
