<div
  class="container d-flex align-items-center justify-content-center"
  style="width: 100vw; margin-top: 30px; margin-bottom: 30px"
>
  <div class="row g-5" style="font-family: 'Quicksand', sans-serif">
    <div id="title">
      <h3><strong>Lab 1 - Web usibility</strong></h3>
      On this page, the portfolio website's considered and implemented factors
      of web usability are detailed.
    </div>
    <div class="text-justify">
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong> 1. Navigation:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        The navbar items give the access to users to navigate to the page they
        need easily and quickly.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>2. Color change:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        When the user moves the cursor to the text, the colour of the text
        changes to show that it is a button and clickable.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>3. Responsiveness:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        Bootstrap5 is used to have a responsive design in all devices.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>4. Simplicity:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        The portfolio website has a minimal design to present five labs and
        three assignments.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>5. Consistency:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        The design of each page in the "portfolio website" is consistent and
        related to each other.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>6. Guidance:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        There is a small but visible arrow beside it to show the nav-item is
        dropdown in the navbar. For example, Labs in the navbar is a dropdown,
        and users can click to see more options.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>7. Space:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        I tried to include white spaces between paragraphs and around text
        blocks to make it easier for users to understand what they are reading.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>8. Credibility:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        There is a Copyright section in the footer and student oath on the Home
        page to make users trust the website's content.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>9. Relevancy:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        The website is straightforward with relevant content to let users know
        why they visit it.
      </p>
      <hr />
      <h5 class="text-justify" style="font-family: 'Quicksand', sans-serif">
        <strong>10. Images:</strong>
      </h5>
      <p
        class="text-justify"
        style="font-family: 'Quicksand', sans-serif; font-weight: bold"
      >
        There is a nice balance between content and graphics on the website.
        There is a graphic design on the home page to attract the user's
        attention.
      </p>
    </div>
  </div>
</div>
